@page
@model PrivacyModel
@{
    ViewData["Title"] = "About us";
}

<div class="container py-5">
    <h1 class="text-center text-dark mb-4">@ViewData["Title"]</h1>
    <hr class="mb-5 w-50 mx-auto border-secondary">

    <div class="row align-items-center mb-5">
        <div class="col-lg-6 text-center text-lg-start">
            <h3 class="text-secondary">Our Mission</h3>
            <p class="lead">
                The goal of our application is to provide access to a wide and diverse collection of recipes from different regions around the world.
            </p>
            <p>
                Whether you're looking for a traditional Romanian dish, an Italian dessert, or a Japanese sushi recipe, we have something for every culinary enthusiast.
            </p>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/chowmein.jpg" class="img-fluid rounded shadow" alt="chowmein" style="max-width: 60%; height: auto;">
        </div>
    </div>

    <div class="row align-items-center flex-lg-row-reverse mb-5">
        <div class="col-lg-6 text-center text-lg-start">
            <h3 class="text-secondary">Explore our world of recipes</h3>
            <p class="lead">
                From savory main dishes to delectable desserts, our collection has something for everyone.
            </p>
            <p>
                Whether you're an experienced cook or a beginner, our easy-to-follow recipes will inspire you to try new flavors and create memorable meals.
            </p>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/tiramisu.jpg" class="img-fluid rounded shadow" alt="tiramisu" style="max-width: 60%; height: auto;">
        </div>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-lg-6 text-center text-lg-start">
            <h3 class="text-secondary">Join the Culinary Community</h3>
            <p class="lead">
                We invite you to share your own recipes and culinary experiences with our community.
            </p>
            <p>
                Join us in building a global recipe collection and inspire others with your cooking!
            </p>
        </div>
        <div class="col-lg-6 text-center">
            <img src="/images/sushi.jpg" class="img-fluid rounded shadow" alt="sushi" style="max-width: 60%; height: auto;">
        </div>
    </div>
</div>
