@page
@model RecipeSharingApp.Pages.LoginModel
@{
	ViewData["Title"] = "Login";
}

<body>
	<div class="container mt-5">
		<h1 class="my-4">@ViewData["Title"]</h1>
		<div class="card">
			<div class="card-body">
				@foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
				{
					<div class="alert alert-danger">
						@error.ErrorMessage
					</div>
				}

				<form method="post">
					<label for="email">Email:</label>
					<input type="text" id="email" name="email" />
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" />
					<button type="submit">Login</button>
				</form>
			</div>
		</div>
	</div>
</body>



